* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px !important;
}

.side-menu {
  box-shadow: 15px 0 15px -13px #00000070;
  height: calc(100vh - 56px);
  margin-top: 3px;
  overflow-y: auto;
}

.side-menu.bg-primary {
  border-top-color: #469ffe;
}

.side-menu::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.side-menu::-webkit-scrollbar-track,
.side-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.side-menu.bg-dark::-webkit-scrollbar-track {
  background-color: #1e1e2d;
}

.side-menu.bg-dark::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

.side-menu.bg-primary::-webkit-scrollbar-track {
  background-color: #daf1ff;
}

.side-menu.bg-primary::-webkit-scrollbar-thumb {
  background-color: #93cdff;
}

.side-menu ez-side-menu {
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.side-menu ez-side-menu > a {
  color: #fff;
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  cursor: pointer;
}

.side-menu.bg-dark ez-side-menu > a {
  background: #1e1e2d;
  border-bottom-color: #303047;
}

.side-menu.bg-primary ez-side-menu > a {
  background: #007bff;
  border-bottom-color: #469ffe;
}

.side-menu ez-side-menu > a:hover {
  transition: 300ms all;
  color: #fbe309;
}

.side-menu.bg-dark ez-side-menu > a:hover {
  background-color: #353552 !important;
}

.side-menu.bg-primary ez-side-menu > a:hover {
  background-color: #3094ff;
}

.side-menu.bg-dark ez-side-menu.active > ez-side-menu > a,
.side-menu.bg-dark ez-side-menu.active > a {
  background: #353552;
}

.side-menu.side-menu.bg-primary ez-side-menu.active > ez-side-menu > a,
.side-menu.bg-primary ez-side-menu.active > a {
  background: #1385ff;
}

.side-menu ez-side-menu.has-active > a:first-child,
.side-menu ez-side-menu.active > a:first-child {
  color: #fbe309;
}

.side-menu ez-side-menu.has-active > a:first-child {
  font-weight: 500;
}

.side-menu ez-side-menu > :not(:first-child) {
  display: none;
}

.side-menu ez-side-menu.has-active > :not(:first-child),
.side-menu ez-side-menu.active > :not(:first-child) {
  display: block;
}

.menu-header {
  height: 100%;
  position: fixed;
  transition: all 0.35s ease-in-out;
  min-width: 300px;
  max-width: 300px;
  left: -230px;
  background-color: #1a1a27;
  position: fixed;
}

.menu-header-moved {
  transform: translateX(230px);
}

.menuContainer {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-sidebar {
  height: 100%;
  min-width: 70px;
  max-width: 70px;
  background-color: #1e1e2d;
  position: fixed;
  text-align: center;
  color: #f3f3f3;
  transition: all 0.35s ease-out;
  left: -70px;
}

.icon-sidebar-visible {
  transform: translateX(70px);
}

.menu-icon {
  height: 41px;
  position: fixed;
  font-size: 25px;
  font-weight: bold;
  width: 40px;
  text-align: center;
  background-color: #1e1e2d;
  color: #fff;
  cursor: pointer;
  left: 13px;
  margin: 0;
  z-index: 1;
  border: solid 1px lightgray;
  border-radius: 5px;
  transition: color 0.5s;
  transition: transform 0.35s ease-in-out;
}

.menu-icon-moved {
  transform: translateX(230px);
}

.menu-icon:hover {
  background-color: #f3f3f3;
  color: #1e1e2d;
  border-color: #000;
}

.menu-icon:active {
  box-shadow: 1px 1px 1px 1px rgb(105, 105, 105);
}

#chk {
  position: absolute;
  display: none;
}

#chevron {
  position: absolute;
  right: 10px;
  top: 18px;
}

#menuIcon {
  font-size: 14pt;
  margin-right: 15px;
}

.side-menu {
  height: 100%;
  position: fixed;
  top: 56px;
  transition: all 0.35s ease-in-out;
  min-width: 300px;
  max-width: 300px;
  left: 100px;
  z-index: 1;
}

.side-menu-visible {
  transform: translateX(200px);
}

.bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.bg-visible {
  display: block;
}

.angularIcon {
  width: 30px;
}

.icon-sidebar img {
  width: 35px;
  margin: 15px 0 5px 0;
}
